body {
    background: linear-gradient(40deg, rgb(77,77,77),
    rgb(58,68,58));
}

header {
    position: static
}

main ul {
    width: 80%;
    margin: 0 auto;
}

main li {
    display: flex;
    background-color: whitesmoke;
}

main li img {
    width: 300px;
    height: 280px;
    object-fit: cover;
}

.item-container {
    padding: 24px;
}